<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- event sales_model_service_quote_submit_success -->
    <event name="sales_model_service_quote_submit_success">
        <observer name="faonni_orderforceemail" instance="Faonni\OrderForceEmail\Observer\SubmitObserver"/>
        <!-- disable native observer -->
        <observer name="sendEmail" disabled="true"/>
    </event>
</config>
